<div class="card card-playlist">
  <picture class="logo">
      <source srcset="https://fdnd-agency.directus.app/assets/<%= item.image?.id %>?format=avif" type="image/avif">
      <source srcset="https://fdnd-agency.directus.app/assets/<%= item.image?.id %>?format=webp" type="image/webp">
      <img class="logo" loading="lazy" src="https://fdnd-agency.directus.app/assets/<%= item.image?.id %>" alt="<%= item.title %>" height="164" width="<%= item.image?.width %>">
  </picture>
  
  <div class="text-content">
      <div class="title-content">
          <h3 style="font-family: sans-serif;"><%= item.title %></h3>
      </div>
      <div class="actions">
          <a href="<%= item.slug %>" class="play">
            <picture>
                <source srcset="https://fdnd-agency.directus.app/assets/4554daf3-4287-4959-9cd0-c13487d2f51f.png?format=avif" type="image/avif">
                <source srcset="https://fdnd-agency.directus.app/assets/4554daf3-4287-4959-9cd0-c13487d2f51f.png?format=webp" type="image/webp">
                <img src="https://fdnd-agency.directus.app/assets/4554daf3-4287-4959-9cd0-c13487d2f51f.png" alt="play button" height="40" width="40">
            </picture>
              
              <span>
                  <!-- 
                      Hierin staat het aantal stories van een playlist
                      Later wil ik hierin ook de tijd van de playlist duur zetten
                  -->
                  <%= item.stories.length %> stories
              </span>
          </a>
          <div class="additional-actions">
              <form action="/" method="POST" class="like">
                  <!-- 
                      Maakt een hidden input aan met de id van het item
                      Door dit te gebruiken kan ik de data van de playlist doorsturen naar de back-end
                   -->
                   <input type="hidden" name="isLiked" value="<%= item.isLiked %>">
                   <input type="hidden" name="isLikedId" value="<%= item.isLikedId %>">
                   <!-- Deze moet volgensmij bewerkt worden -->
                  <input type="hidden" name="itemId" value="<%= item.id %>">
                  <button type="submit" data-ifLiked="<%= item.isLiked %>">
                      <!-- 
                          Checkt of het item in de favourites array zit
                          Als dat zo is dan laat hij een gevulde hartje zien
                          Zo niet dan laat hij een leeg hartje zien
                       -->
                       <% if (item.isLiked) { %>
                          <img src="https://fdnd-agency.directus.app/assets/2dbfa622-6297-4d51-a0bc-7d9fde10c5f1.svg" alt="like filled heart icon" height="24" width="24">
                      <% } else { %>
                          <img src="https://fdnd-agency.directus.app/assets/30d087ab-c748-4c3e-bbe1-b37c1df71901.svg" alt="like heart icon" height="24" width="24">
                      <% } %>
                  </button>
              </form>
          </div>
      </div>
  </div>
</div>


