<div class="card card-story">
    <picture>
        <source srcset="https://fdnd-agency.directus.app/assets/<%= item.image.id %>?format=avif" type="image/avif">
        <source srcset="https://fdnd-agency.directus.app/assets/<%= item.image.id %>?format=webp" type="image/webp">
        <img src="https://fdnd-agency.directus.app/assets/<%= item.image.id %>" alt="<%= item.title %>">
    </picture>
    
    <h2><%= item.title %></h2>
</div>