<!DOCTYPE html>
<html lang="nl">
  <%- include('components/head', pageTitle = "Onze leden") %>
    <article class="container">
        <%- include('components/header') %>

        <section class="hero members">
          <article class="content">
            <h1>Onze leden</h1>
            <p>De beste digitale bureaus van Nederland zijn verenigd in Dutch Digital Agencies. Filter op provincie en omvang en zoek contact met het bureau dat het beste bij past bij je uitdaging. 
              Wil je meer weten over het lidmaatschap? Ga dan naar <a aria-label="deze pagina" class="line-animation" href="">deze pagina</a> voor meer informatie.</p>
          </article>
          
          <form class="search-form" aria-label="Zoekformulier">
            <label for="search-field" class="visually-hidden">Zoeken</label>
            <input type="search" id="search-field" class="search-field" placeholder="Zoeken" value="" name="s">
          </form>
        </section>

        <section class="members">
          <article class="content">
            <ul class="grid grid3x">
              <% if (data) { %>
              <% data.forEach(item=> { %>
              <li>
                <div class="banner">
                  <picture class="banner">
                    <source srcset="https://fdnd-agency.directus.app/assets/<%= item.photo.id %>?format=avif" type="image/avif" width="<%= item.photo.width %>" height="<%= item.photo.height %>" alt="<%= item.title %>">
                    <source srcset="https://fdnd-agency.directus.app/assets/<%= item.photo.id %>?format=webp" type="image/webp" width="<%= item.photo.width %>" height="<%= item.photo.height %>" alt="<%= item.title %>">
                    <img src="https://fdnd-agency.directus.app/assets/<%= item.photo.id %>" loading="lazy" alt="<%= item.title %>">
                  </picture>
                  <picture class="logo">
                    <source srcset="https://fdnd-agency.directus.app/assets/<%= item.logo.id %>?format=avif" type="image/avif" width="<%= item.logo.width %>" height="<%= item.logo.height %>" alt="<%= item.title %>">
                    <source srcset="https://fdnd-agency.directus.app/assets/<%= item.logo.id %>?format=webp" type="image/webp" width="<%= item.logo.width %>" height="<%= item.logo.height %>" alt="<%= item.title %>">
                    <img src="https://fdnd-agency.directus.app/assets/<%= item.logo.id %>" loading="lazy" alt="<%= item.title %> logo">
                  </picture>
                </div>
                <h3>
                  <%= item.title %>
                </h3>
                <div class="description">
                  <%- item.summary || "<p>Er is momenteel geen beschrijving voor dit bedrijf.</p>" %>
                </div>
                <p>
                  Open vacatures: <%= item.vacancies.length %>
                </p>
                <div class="buttons">
                  <a aria-label="Bekijk alle vacatures" class="btn secondary line-animation" href="/member/<%= item.id %>#vacancies">Bekijk open vacatures</a>
                  <a aria-label="Bekijk profiel" class="btn primary" href="/member/<%= item.id %>">Bekijk profiel</a>
                </div>
              </li>
              <% }) %>
              <% } else %>
              <li>
                <p>Er zijn momenteel geen leden beschikbaar.</p>
              </li>
            </ul>
          </article>
        </section>

        <script>
          document.querySelectorAll(".members .content .description a").forEach(function(link) {
              link.classList.add("line-animation");
          });
        </script>
        
        <%- include('components/footer') %>
    </div>
  </body>
</html>

