<!DOCTYPE html>
<html lang="nl">
  <%- include('components/head', pageTitle = "Onze leden") %>
    <article class="container">
        <%- include('components/header') %>

        <section class="hero">
          <article class="content">
            <h1><%= member.title %></h1>
          </article>
        </section>

        <section class="block with-image justify-content-between">
          <article class="content">
            <ul class="grid grid3x">
              <li>
                <div class="description">
                  <%- member.description || "<p>Er is momenteel geen intro beschrijving voor dit bedrijf.</p>" %>
                </div>
              </li>
            </ul>
          </article>

          <div class="block-banner">
            <picture>
              <img src="https://fdnd-agency.directus.app/assets/<%= member.photo.id %>" alt="<%= member.title %>" width="<%= member.photo.width %>" height="<%= member.photo.height %>">
            </picture>
          </div>
        </section>

        <% if (member.vacancies.length > 0) { %>
        <section class="hero">
          <article class="content">
            <h1><%= member.vacancies.length %> open vacatures</h1>
          </article>
        </section>
        
        <section class="block vacancies" id="vacancies">
          <article class="content">
              <div class="vacancies">
                <ul>
                  <% member.vacancies.forEach(item => { %>
                    <%- include('components/vacancy', { item: item }) %>
                  <% }) %>                    
                </ul>
              </div>
              
          </article>
        </section>
        <% } %>

        <section class="block">
          <article class="content justify-content-between">
            <a aria-label="Terug naar overzicht" style="padding-inline-start: 0; padding-inline-end: 0;" class="btn secondary line-animation" href="/members">
              <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M19 12H5M5 12L12 19M5 12L12 5" stroke="black" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
              </svg>
               Ga terug naar overzicht
            </a>

            <a aria-label="Terug naar overzicht" style="padding-inline-start: 0; padding-inline-end: 0;" class="btn secondary line-animation" href="/member/next/<%= member.id %>">
              
               Naar volgende lid
               <svg style="rotate: 180deg" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M19 12H5M5 12L12 19M5 12L12 5" stroke="black" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
              </svg>
            </a>
          </article>
        </section>

        <script>
          document.querySelectorAll(".block .content .description a").forEach(function(link) {
              link.classList.add("line-animation");
          });
        </script>
        <%- include('components/footer') %>
    </div>
  </body>
</html>

