<!DOCTYPE html>
<html lang="<%= lang %>" dir="<%= lang === 'ar' ? 'rtl' : 'ltr' %>">
  <%- include('components/head', pageTitle = "Nieuws") %>
  <body>
    <article class="container">
        <%- include('components/header') %>

        <section class="hero">
          <article class="content">
            <h1>Nieuws</h1>
            <p>Bekijk hier het nieuws</p>
              
          </article>
        </section>

        <section class="block">
          <article class="content">
            <h3>fuerghui</h3>
            <p>jgrheiughqiueahiu hier het nieuws</p>
              
          </article>
        </section>

        <section class="hero" id="events">
          <article class="content">
            <h1>Evenementen</h1>
            <p>Bekijk hier het nieuws</p>
              
          </article>
        </section>

        <%- include('components/footer') %>
    </div>
    
  </body>
</html>

