<!DOCTYPE html>
<html lang="<%= lang %>" dir="<%= lang === 'ar' ? 'rtl' : 'ltr' %>">
  <%- include('components/head', pageTitle = "Vacatures") %>
  <body>
    <article class="container">
        <%- include('components/header') %>

        <section class="hero">
          <article class="content">
            <h1>Vacatures</h1>
            <p>Bekijk hier alle vacatures</p>
              
          </article>
        </section>

        <%- include('components/footer') %>
    </div>
    
  </body>
</html>

